.products {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: products-appear 1s ease-out forwards;
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열 그리드 */
  gap: 1rem; /* 상품 간격을 더 좁게 조정 */
  padding: 1rem 0; /* 패딩을 줄여서 더 컴팩트하게 */
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 0.75rem; /* 패딩을 더 작게 조정 */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과를 줄임 */
  background-color: white;
}

.product h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1rem; /* 제목 크기를 살짝 줄임 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-style: italic;
  color: #555;
}

.price {
  margin-top: 0.25rem; /* 가격 위 간격을 줄임 */
  font-weight: bold;
  color: #ad4102;
  font-size: 1.25rem;
}

.product img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem; /* 이미지와 아래 텍스트 간격 축소 */
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .products ul {
    grid-template-columns: repeat(2, 1fr); /* 중간 화면 크기에서 2열 */
  }
}

@media (max-width: 480px) {
  .products ul {
    grid-template-columns: 1fr; /* 작은 화면에서 1열 */
  }
}

/* 기존 애니메이션 */
@keyframes products-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  grid-template-columns: none;
}

.pagination > ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination > ul > li {
  margin: 0 0.25rem;
  cursor: pointer;
}

.pagination > ul > li > button {
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  width: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.pagination > ul > li > button:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.pagination > ul > li > button[aria-current="true"] {
  background-color: #1976d2;
  color: #fff;
}