.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #e57971;
  border: 1px solid #e57971;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
}

.form button:hover,
.form button:active {
  background-color: #fd5f53;
  border-color: #fd5f53;
}