@charset "UTF-8";
/* NavBar css */

a.link {
  color: white;
}
a.link:link,
a.link:visited,
a.link:hover,
a.link:active {
  color: white;
}

div.nav {
  background-color: #899cc8;
}

.menu h6 a button {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.list li {
  font-size: 18px;
}
.list li a {
  color: black;
  width: 100%;
}
.list li a div div {
  width: fit-content;
  margin: 0 auto;
}

h6.typobtn {
  margin-left: 0.5em;
  flex-grow: 1;
  text-align: left;
}
h6.typobtn a {
  border-radius: 4px;
  padding: 8px 12px;
}
h6.typobtn:hover a {
  background-color: #0000000a;
}

button.loginbtn:hover {
  background-color: #0000000a;
}

.color {
  color: white;
}
