.productDetail {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.productName {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.productImageGallery {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.productImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.productInfo {
  margin-bottom: 20px;
}

.price {
  font-size: 1.5rem;
  color: #e91e63;
}

.originalPrice {
  text-decoration: line-through;
  margin-right: 10px;
  color: gray;
}

.discountPrice {
  color: #4caf50; /* 할인 가격은 초록색 */
}

.brand,
.category {
  margin: 5px 0;
  color: #666;
}

.productDetails {
  margin-bottom: 20px;
}

.reviews {
  margin-top: 30px;
}

.review {
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
  margin-top: 10px;
}
