.header {
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: #000 !important;
}

.backdropBlur {
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.nav {
	display: flex;
	gap: 1rem; /* 버튼 간격 통일 */
	padding-left: 12%; /* 패딩 통일 */
}

.nav a {
	font-size: 0.9rem; /* 버튼 글자 크기 통일 */
	color: #333; /* 글자 색상 */
	text-decoration: none; /* 밑줄 제거 */
	padding: 0.4rem 1rem 0 0rem; /* 버튼 패딩 */
	border-radius: 5px; /* 부드러운 모서리 */
	transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

.logo {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logoImage {
  height: 40px;
  margin-right: 10px;
}

.navLink {
  color: #000 !important;
  padding: 6px 16px !important;
  min-width: 80px !important;
}

.searchInput {
  background-color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 8px;
}

.iconButton {
  color: #000 !important;
	width: auto;
	padding: 0 0.5rem;
}

.badge {
  background-color: #e57971;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 960px) {
  .navLink {
    display: none;
  }
}