@charset "UTF-8";
/* user home css */

.home {
  margin-top: 37vh;
}

.container__1 {
  position: absolute;
  width: 75em;
}
.container__2 {
  position: absolute;
  margin-top: 7em;
  width: 75em;
}

.container__1 h1 {
  float: left;
  width: 6.1em;
  margin-left: 0.5em;
  margin-bottom: 0.7em;
  color: white;
  font-size: 80px;
  text-align: left;
  text-shadow: 1px 1px 10px #4444;
}

h1 .title {
  font-size: 80px;
  text-align: left;
  text-shadow: 1px 1px 8px #44444488;
  color: #ffffff88;
}
h1 .sub__title {
  width: 300px;
  color: white;
  text-align: left;
  margin-top: -30px;
  padding-left: 180px;
  font-size: 80px;
  text-shadow: 1px 1px 5px #3b3b3b9b;
  background-color: #599ae250;
}

.title__link a {
  margin-left: -6.5rem;
  margin-top: 0.6rem;
  float: left;
  font-size: 18px;
  color: #d3e4ff;
  font-weight: bold;
  text-shadow: 0px 0px 4px black;
  text-align: right;
}
.title__link a:hover {
  color: #9ab2e3;
}

.clock {
  float: right;
  width: 10em;
  margin-left: 7em;
  color: white;
  text-shadow: 0px 0px 4px black;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: right;
  padding: 1rem;
  margin-top: -2.5rem;
  padding-right: 0;
}
.clock__caldr {
  font-size: 18px;
}
.clock__time {
  font-size: 30px;
}

.list {
  position: relative;
  float: right;
  text-align: right;
}

.list p {
  color: white;
  margin-bottom: 0.1rem;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 8px #3b3b3b;
  text-align: right;
}

.list a {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: 25px;
}

.list a:hover {
  color: #7f9ed7b1;
  text-shadow: 1px 1px 2px #3b3b3b69;
  text-decoration: underline;
}
