@charset "UTF-8";
/* home css */

.home {
    margin-top: 37vh;
}

.login {
    position: absolute;
    top: 5em;
    right: 5em;
}

.login button {
    border: 0;
    background-color: #aabee6cc;
    box-shadow: 0px 0px 20px 4px #aabee6cc;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 0px 5px black;
}

.login button:hover {
    background-color: #9ab2e3cc;
    box-shadow: 0px 0px 20px 4px #9ab2e3cc;
}

.container__1 {
    position: absolute;
    width: 75em;
}
.container__2 {
    position: absolute;
    margin-top: 7em;
    width: 75em;
}

.container__1 h1 {
    float: left;
    width: 6.1em;
    margin-left: 0.5em;
    margin-bottom: 0.7em;
    color: white;
    font-size: 80px;
    text-align: left;
    text-shadow: 1px 1px 8px #44444488;
    background-color: #ffffff58;
}

.title__link a {
    margin-left: -6.5rem;
    float: left;
    font-size: 18px;
    color: #d3e4ff;
    font-weight: bold;
    text-shadow: 0px 0px 4px black;
    text-align: right;
}
.title__link a:hover {
    color: #9ab2e3;
}

.clock {
    float: right;
    width: 10em;
    margin-left: 7em;
    color: white;
    text-shadow: 0px 0px 4px black;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-align: right;
    padding: 1rem;
    margin-top: -2.5rem;
    padding-right: 0;
}
.clock__caldr {
    font-size: 18px;
}
.clock__time {
    font-size: 30px;
}

.list {
    position: relative;
    float: right;
    text-align: right;
}

.list p {
    color: white;
    margin-bottom: 0.1rem;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 8px #3b3b3b;
    text-align: right;
}

.list a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 25px;
}

.list a:hover {
    color: #7f9ed7b1;
    text-shadow: 1px 1px 2px #3b3b3b69;
    text-decoration: underline;
}