@charset "UTF-8";
/* add user css */

.mild {
  background-color: #f0f8f9;
}

.primary {
  background-color: #76ddf4
}

.primaryDark {
  background-color: #12b8de
}

.primaryDarker {
  background-color: #0f9dbd
}

.primaryDarkerFont {
  color: #0f9dbd
}

.complemantary {
  background-color: #f6f3e4;
}

.warning {
  background-color: #f6f3e4;
}

.warningFont {
  color: #f8cf00;
}

.emphasis {
  background-color: #e57971;
}

.emphasisFont {
  color: #fd5f53;
}

div.box {
  width: auto;
  min-height: 384px;
  margin: 0 auto;
  padding: 36px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: table;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  vertical-align: middle;
  border-radius: 28px;
  background-color: white;
}

form.form {
  display: table-cell;
  width: fit-content;
  text-align: center;
  vertical-align: middle;
}

div.card {
  display: table-cell;
  vertical-align: middle;
  box-shadow: none;
}

div.cardHeader {
  display: table-header-group;
}

div.cardHalf {
  flex-basis: 50%;
  flex-grow: 1;
  width: 50%;
  min-width: 30em;
}

div.cardLeft {
  padding-top: var(--wf-ps-t-bp3-l, 36px);
  padding-right: var(--wf-gutw-hlf, 24px);
  vertical-align: top;
}

div.cardRight {
  padding-left: var(--wf-gutw-hlf, 24px);
  text-align: right;
}

div.cardFooter {
  text-align: right;
  display: table-footer-group;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

img.logo {
  width: auto;
  height: 80px;
  text-align: left;
  object-fit: contain;
}

.typo {
  display: flex;
}

h4.typo {
  font-size: 36px;
  padding-bottom: 20px;
}

h6.typo {
  font-size: 16px;
}

div.cardRight button {
  font-size: 14px;
  border-radius: 28px;
}

div.cardRight a.signupBtn {
  font-size: 14px;
  border-radius: 28px;
  height: 50px;
  width: 20em;
  font-size: 16px;
  padding: 1.6rem 0;
  margin: 0.5rem 0;
}

a.signupBtn {
  width: fit-content;
  color: white;
}

.iconCell {
  width: 3ch;
}
